server:
  servlet:
    context-path: /rest/bankslips
  port: 8080

#spring:
#  h2:
#    console:
#      enabled: true
#  datasource:
#    url: "jdbc:h2:mem:AZ;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE"
#    username: "sa"
#    password: ""
#    platform: h2
#    driver-class-name: "org.h2.Driver"
#  jpa:
#    database-platform: "org.hibernate.dialect.H2Dialect"
#    show-sql: true
#    properties:
#      hibernate:
#        temp:
#          use_jdbc_metadata_defaults: false
